.line {
  height: 120px;
  width: 1136px;
  left: 112px;
  top: 279px;
  border-radius: 6px;
  background-color: white;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.first-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  .name {
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 300;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
  }
  .description {
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #7d7d7d;
  }
}

.second-column {
  display: flex;
  flex-direction: column;
  width: 30%;
  .promocode-label {
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.015em;
    text-align: left;
    color: #7d7d7d;
  }
  .promocode-input {
    height: 48px;
    width: 300px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    border: 1px solid #cfd2d9;
  }
}

.third-column {
  display: flex;
  flex-direction: column;
  width: 30%;
  .button {
    height: 48px;
    width: 300px;
    left: 0px;
    top: 16px;
    border-radius: 4px;
    background: #0085ff;
    color: #fff;
  }
}
