.services-title {
  height: 47px;
  width: 150px;
  left: 112px;
  top: 120px;
  border-radius: nullpx;
  //styleName: Headline / 1, Light, 39pt;
  font-family: Rubik;
  font-size: 39px;
  font-style: normal;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
}

.input-search {
  height: 48px;
  width: 300px;
  left: 0px;
  top: 24px;
  border-radius: 4px;
  border: 1px solid #2f80ed;
}

.input-search:focus {
  background-color: aquamarine;
}
